{% extends 'base.html.twig' %}

{% block title %}
	Toutes les annonces
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row">
			{% for a in announces %}
				<div class="col-md-4">
					<div class="card mb-3 shadow-sm bg-white rounded">
						<div class="card-header text-center">
							{{ a.rooms}}
							chambres,
							<strong>{{ a.price | number_format(0, ',', ' ')}}F / mois</strong>
							<br>
							<small>{{ a.comments | length }}
								commentaires</small>
						</div>
						<a href="#">
							<img src="{{ a.coverImage }}" alt="image" style="height: 200px; width: 100%; display: block">
						</a>
						<div class="card-body">
							<h4 class="card-title">
								<a href="#">
									{{ a.title }}
								</a>
							</h4>
							<p class="card-text">{{ a.introduction}}
							</p>
							<a href="{{ path('announces_show', {'slug': a.slug})}}" class="btn btn-primary float-right">Détails !</a>
						</div>
						<div class="card-footer text-muted text-center">
							<i class="fas fa-map-marker"></i>
							<small>{{ a.address }}</small>
							<br>
							<small>{{ a.createdAt | ago(locale='fr')}}</small>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
