{% extends 'base.html.twig' %}

{% block title %}
	{{ announce.title }}
{% endblock %}

{% block body %}
	<div class="show container my-5 p-5" style="background-image: url({{ announce.coverImage }})">
		<div class="container">
			<h1 class="show">{{announce.title}}</h1>
			<p>{{announce.introduction}}</p>
			<p class="show h2">
				<strong>{{announce.rooms}}
					chambres</strong>
				pour
				<strong>{{announce.price | number_format(0, ',', ' ')}}
					F</strong>
			</p>
		</div>
	</div>
	<div class="container mt-2">
		<div class="row">

			<div class="col-md-8 mb-3">
				<p class="mb-3">{{ announce.description }}</p>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in announce.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for image in announce.images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img class="d-block w-100" src="{{ image.imageUrl }}" alt="First slide">
								<div class="carousel-caption d-none d-md-block">
									<h5 class="show">{{ announce.title }}</h5>
									<p>{{ image.description }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				<hr>

				{% if announce.comments|length > 0 %}
					<h2 class="mb-3">Commentaires:</h2>
					{% for comment in announce.comments %}
						<div class="bg-light rounded mb-3 py-3 px-3">
							<strong>{{ comment.author }}</strong>
							:
							<blockquote>
								{{comment.content}}
							</blockquote>
							<small>{{comment.createdAt | ago(locale='fr')}}</small>
						</div>
					{% endfor %}
				{% else %}
					<h2>Cette annonce n'a pas encore reçu de commentaires ...</h2>
				{% endif %}
			</div>
			<div class="col">
				<div class="row mb-3 align-items-center">
					<div class="col-3">
						<img src="https://randomuser.me/api/portraits/thumb/men/38.jpg" class="avatar avatar-medium rounded-circle" alt="Avatar">
					</div>
					<div class="col">
						<h3>Abdou Gueye</h3>
						<span class="badge badge-primary">23 annonces</span>
						<p>
							Médina Rue, 12</p>
					</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptas. Id beatae et fugit facere debitis quia ipsa nemo saepe illum recusandae! Voluptatum delectus minus quas molestias id tenetur a!</p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptas. Id beatae et fugit facere debitis quia ipsa nemo saepe illum recusandae! Voluptatum delectus minus quas molestias id tenetur a!</p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptas. Id beatae et fugit facere debitis quia ipsa nemo saepe illum recusandae! Voluptatum delectus minus quas molestias id tenetur a!</p>
			</div>
		</div>
	</div>


{% endblock %}
