{% extends "base.html.twig" %}


{% block body %}
	<div class="container m-5">Salut
		{{ nom }}</div>
	<div style="margin: 10px">
		<a href="{{ path("app_lucky_number")}}">Tester Lucky Number</a>
	</div>
	<div style="margin: 10px">
		<a href="{{ path("app_lucky_number")}}">Tester Lucky Number</a>
	</div>
	<div style="margin: 10px">
		<a href="{{ path("app_lucky_number")}}">Tester Lucky Number</a>
	</div>
	<div style="margin: 10px">
		<a href="{{ path("app_lucky_number")}}">Tester Lucky Number</a>
	</div>
{% endblock %}
